/core/xray-integration            Anahit.Grigoryan@contracted.pmi.com
/core/cucumber/steps/api.ts       Norbert.Gulacsi@contracted.pmi.com
/core/cucumber/steps/memory.ts    Dzmitry.Prakapuk@contracted.pmi.com

